# Node.js Dependencies  
node_modules/  

# Next.js Build Output  
.next/  
out/  

# Environment Variables  
.env  
.env.local  
.env.development  
.env.production  

# Logs  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
logs/  
*.log  

# Misc  
.DS_Store  # macOS system file  
Thumbs.db  # Windows system file  
*.swp      # Vim swap files  

# Others
customServer/
