/* ---------------------------------------------- ROOT VARIABLES ----------------------------------- */
:root {
    --primary-bg-color: #282A42;
    --primary-text-color: #d7d8ed;
    --secondary-text-color: #9698af;
    --card-bg-color: #30334e;
    --card-border-color: #464963;
    --card-box-shadow: 0 0.25rem 0.875rem 0 rgba(16, 17, 33, 0.26);
    --card-border-radius: 0.625rem;
    --card-padding-y: 1.25rem;
    --card-padding-x: 1.25rem;
    --bs-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --badge-success-bg: #3b4f48;
    --badge-success-color: #72e128;
    --badge-warning-bg: #514848;
    --badge-warning-color: #fdb528;
    --badge-secondary-bg: #3a3e58;
    --badge-secondary-color: #6d788d;
    --badge-danger-bg: #51374d;
    --badge-danger-color: #ff4d49;
    --bs-blue: #26c6f9;
    --bs-indigo: #666cff;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #ff4d49;
    --bs-orange: #fdb528;
    --bs-yellow: #ffd950;
    --bs-green: #72e128;
    --bs-teal: #20c997;
    --bs-cyan: #28c3d7;
    --bs-black: #30334e;
    --bs-white: #fff;
    --bs-gray: rgba(234, 234, 255, 0.599);
    --bs-gray-dark: rgba(234, 234, 255, 0.8);
    --bs-gray-25: rgba(234, 234, 255, 0.015);
    --bs-gray-50: rgba(234, 234, 255, 0.03);
    --bs-primary: #666cff;
    --bs-secondary: #6d788d;
    --bs-success: #72e128;
    --bs-info: #26c6f9;
    --bs-warning: #fdb528;
    --bs-danger: #ff4d49;
    --bs-light: #46445b;
    --bs-dark: #d7d5ec;
    --bs-gray: rgba(234, 234, 255, 0.06);
}

/* ---------------------------------------------- BODY STYLES ----------------------------------- */
html {
    color-scheme: dark;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color) !important;
    font-family: var(--bs-font-sans-serif);
}

.sd-bg {
    background-color: var(--primary-bg-color);
}

/* ---------------------------------------------- SIDEBAR STYLES ----------------------------------- */
.main-menu a {
    color: var(--primary-text-color);
    position: relative;
    font-family: var(--bs-font-sans-serif);
    padding-left: 30px;
}

.main-menu a .ri-arrow-right-s-line {
    position: absolute;
    right: 0.75rem;
    font-size: 1.35rem;
}

.sdb-color {
    color: var(--primary-text-color);
    font-family: var(--bs-font-sans-serif);
}

/* Sidebar Icons */
.menu-item a.dashboards::before {
    content: "\f201";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.projects::before {
    content: "\f15b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.learning::before {
    content: "\f518";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.email::before {
    content: "\f0e0";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.chat::before {
    content: "\f086";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.calendar::before {
    content: "\f073";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.music::before {
    content: "\f001";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.useful-websites::before {
    content: "\f0ac";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.users::before {
    content: "\f0c0";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.posts::before {
    content: "\f044";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

a.dashboard::before {
    content: "\f0e4";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item > a::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu a::before {
    content: "\2022";
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
}

.nav-link:hover,
.nav-link:focus,
.nav-link[aria-expanded="true"] {
    background-color: #373951;
    color: inherit !important;
    margin-bottom: 2px;
}

.nav-link {
    border-radius: 13px;
}

.menu-header .menu-header-text {
    padding-left: 5px;
    text-transform: uppercase;
    font-size: .8125rem;
    letter-spacing: .4px;
    white-space: nowrap;
    color: #7b7c95;
}

.menu-header-text::before, .menu-header-text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu li {
    display: block;
    width: 100%;
}

.sub-menu > a:focus {
    background-color: #666CFF;
}

.sub-menu a:focus,
.sub-menu a[aria-expanded="true"],
.sub-menu a.active {
    background-color: #666CFF;
    color: inherit !important;
}

/* ---------------------------------------------- CARD STYLES ----------------------------------- */
.card {
    margin-top: 0.75rem;
    --bs-card-spacer-y: var(--card-padding-y);
    --bs-card-spacer-x: var(--card-padding-x);
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-title-color: var(--primary-text-color);
    --bs-card-subtitle-color: var(--secondary-text-color);
    --bs-card-border-width: 0;
    --bs-card-border-color: var(--card-border-color);
    --bs-card-border-radius: var(--card-border-radius);
    --bs-card-box-shadow: var(--card-box-shadow);
    --bs-card-inner-border-radius: var(--card-border-radius);
    --bs-card-cap-padding-y: var(--card-padding-y);
    --bs-card-cap-padding-x: var(--card-padding-x);
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: var(--primary-text-color);
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--card-bg-color);
    --bs-card-img-overlay-padding: var(--card-padding-x);
    --bs-card-group-margin: 1.5rem;
    background-clip: padding-box;
    box-shadow: var(--card-box-shadow);
    font-family: var(--bs-font-sans-serif);
}

.card-body {
    color: var(--primary-text-color);
    font-family: var(--bs-font-sans-serif);

}

/* ---------------------------------------------- CUSTOM HEIGHTS ----------------------------------- */
.custom-height {
    height: 350px;
}

.custom-height-2 {
    height: 490px;
}

.custom-height-3 {
    height: 200px;
}

/* ---------------------------------------------- TABLE STYLES ----------------------------------- */
.table thead tr th {
    border-bottom-color: #3a3e5b;
    padding-block: 1.426rem;
}

.table th {
    font-size: .8125rem;
    letter-spacing: .2px;
}

.border-bottom {
    border-bottom: 1px solid #464963 !important;
}

.border-top {
    border-top: 1px solid #464963 !important;
}

/* Apply text color to all th elements inside tr */
.table-head th{
    text-transform: uppercase;
    color: #d7d8ed !important;
}
.table-content td{
    color: #b2b3ca !important;
    padding-block: 1.426rem;
    
}

/* Add max-height to table container and enable scrolling */
.table-responsive {
    max-height: 350px; /* Set the maximum height */
    overflow-x: hidden; /* Disables horizontal scrolling */
}

/* ---------------------------------------------- MEDIA QUERIES ----------------------------------- */
@media (max-width: 1400px) {
    .custom-col-xxl {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .custom-col-xl {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .custom-col-lg {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .custom-col-md {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .custom-col-sm {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1345px) {
    .table-custom {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .timeline-custom{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1070px) {
    .custom-col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* ---------------------------------------------- SCROLLBAR STYLES ----------------------------------- */
.overflow-auto::-webkit-scrollbar {
    width: 12px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: var(--card-border-color);
    border-radius: 10px;
    border: 3px solid var(--primary-bg-color);
    transition: 0.8s ease;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: #B2B3C7;
}

/* ---------------------------------------------- PROFILE ICON ----------------------------------- */
.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ---------------------------------------------- ICON SIZES ----------------------------------- */
.fa-lg {
    font-size: 1.3rem;
}

/* ---------------------------------------------- SEARCH LINK ----------------------------------- */
.search-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.search-link:hover {
    cursor: pointer;
}

/* ---------------------------------------------- SMALL BOXES ----------------------------------- */
.euro-icon {
    color: #666CFF;
}

.small-box {
    background-color: #393C6A;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}

.balance-received-icon {
    color: #FF5733;
}

.small-box-received {
    background-color: #6A3939;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}

.third-icon {
    color: #33FF57;
}

.small-box-third {
    background-color: #396A39;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}

/* ---------------------------------------------- BADGES ----------------------------------- */
.bg-label-primary {
    background-color: #393c6a !important;
    color: #666cff !important;
}

.bg-label-success {
    background-color: var(--badge-success-bg) !important;
    color: var(--badge-success-color) !important;
}

.bg-label-warning {
    background-color: var(--badge-warning-bg) !important;
    color: var(--badge-warning-color) !important;
}

.bg-label-secondary {
    background-color: var(--badge-secondary-bg) !important;
    color: var(--badge-secondary-color) !important;
}

.bg-label-danger {
    background-color: var(--badge-danger-bg) !important;
    color: var(--badge-danger-color) !important;
}

/* TIMELINE STUFF */
.timeline {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none;
}
.timeline .timeline-item {
    position: relative;
    padding-left: 1.4rem;
}
.timeline .timeline-item .timeline-point {
    position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    background-color: #666cff;
    box-shadow: 0 0 0 10px #30334e;
}