/* ----------------------------------------------
   ROOT STYLES
---------------------------------------------- */
:root {
    /* Primary Colors */
    --primary-bg-color: #282A42;
    --primary-text-color: #d7d8ed;
    --secondary-text-color: #9698af;

    /* Card Styles */
    --card-bg-color: #30334e;
    --card-border-color: #464963;
    --card-box-shadow: 0 0.25rem 0.875rem 0 rgba(16, 17, 33, 0.26);
    --card-border-radius: 0.625rem;
    --card-padding-y: 0.65rem;
    --card-padding-x: 0.65rem;

    /* Font Settings */
    --bs-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --bs-body-font-size: 0.9375rem;

    /* Badge Colors */
    --badge-success-bg: #3b4f48;
    --badge-success-color: #72e128;
    --badge-warning-bg: #514848;
    --badge-warning-color: #fdb528;
    --badge-secondary-bg: #3a3e58;
    --badge-secondary-color: #6d788d;
    --badge-danger-bg: #51374d;
    --badge-danger-color: #ff4d49;

    /* Bootstrap Colors */
    --bs-blue: #26c6f9;
    --bs-indigo: #666cff;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #ff4d49;
    --bs-orange: #fdb528;
    --bs-yellow: #ffd950;
    --bs-green: #72e128;
    --bs-teal: #20c997;
    --bs-cyan: #28c3d7;
    --bs-black: #30334e;
    --bs-white: #fff;
    --bs-gray: rgba(234, 234, 255, 0.599);
    --bs-gray-dark: rgba(234, 234, 255, 0.8);
    --bs-gray-25: rgba(234, 234, 255, 0.015);
    --bs-gray-50: rgba(234, 234, 255, 0.03);
    --bs-primary: #666cff;
    --bs-secondary: #6d788d;
    --bs-success: #72e128;
    --bs-info: #26c6f9;
    --bs-warning: #fdb528;
    --bs-danger: #ff4d49;
    --bs-light: #46445b;
    --bs-dark: #d7d5ec;
    --bs-gray: rgba(234, 234, 255, 0.06);

    /* Tag Colors */
    --tagColor-blue-bg: rgba(0, 123, 255, 0.2);
    --tagColor-blue-text: #007bff;
    --tagColor-blue-border: #007bff;
    --tagColor-purple-bg: rgba(102, 16, 242, 0.2);
    --tagColor-purple-text: #6610f2;
    --tagColor-purple-border: #6610f2;
    --tagColor-yellow-bg: rgba(255, 193, 7, 0.2);
    --tagColor-yellow-text: #ffc107;
    --tagColor-yellow-border: #ffc107;
    --tagColor-red-bg: rgba(220, 53, 69, 0.2);
    --tagColor-red-text: #dc3545;
    --tagColor-red-border: #dc3545;
    --tagColor-green-bg: rgba(40, 167, 69, 0.2);
    --tagColor-green-text: #28a745;
    --tagColor-green-border: #28a745;
    --tagColor-orange-bg: rgba(255, 87, 34, 0.2);
    --tagColor-orange-text: #ff5722;
    --tagColor-orange-border: #ff5722;
    --tagColor-cyan-bg: rgba(0, 188, 212, 0.2);
    --tagColor-cyan-text: #00bcd4;
    --tagColor-cyan-border: #00bcd4;
    --tagColor-gray-bg: rgba(108, 117, 125, 0.2);
    --tagColor-gray-text: #6c757d;
    --tagColor-gray-border: #6c757d;
    --tagColor-black-bg: rgba(33, 37, 41, 0.2);
    --tagColor-black-text: #212529;
    --tagColor-black-border: #212529;
}

/* ----------------------------------------------
   GLOBAL STYLES
---------------------------------------------- */
html {
    color-scheme: dark;
}

body {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-family: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
}

.row > * {
    margin-top: 0.5rem;
}

/* ----------------------------------------------
   SIDEBAR STYLES
---------------------------------------------- */
.main-menu a {
    color: var(--primary-text-color);
    position: relative;
    padding-left: 30px;
    width: 99%;
}
.menu-item a.dashboards::before,
.menu-item a.projects::before,
.menu-item a.learning::before,
a.email::before,
a.chat::before,
a.calendar::before,
.menu-item a.music::before,
.menu-item a.useful-websites::before,
a.users::before,
a.posts::before,
a.dashboard::before,
a.blog::before,
.menu-item a.management::before,
a.main::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.dashboards::before { content: "\f201"; }
.menu-item a.projects::before { content: "\f15b"; }
.menu-item a.learning::before { content: "\f518"; }
a.email::before { content: "\f0e0"; }
a.chat::before { content: "\f086"; }
a.calendar::before { content: "\f073"; }
.menu-item a.music::before { content: "\f001"; }
.menu-item a.useful-websites::before { content: "\f0ac"; }
a.users::before { content: "\f0c0"; }
a.posts::before { content: "\f044"; }
a.dashboard::before { content: "\f0e4"; }
a.blog::before { content: "\f02d"; }
.menu-item a.management::before { content: "\f0c0"; }
a.main::before { content: "\f015"; }

.menu-item > a::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu a::before {
    content: "\2022";
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
}

.nav-link:hover, .nav-link:focus, .nav-link[aria-expanded="true"] {
    background-color: #373951;
    color: inherit !important;
    margin-bottom: 1px;
}

.nav-link { border-radius: 13px; }

.menu-header .menu-header-text {
    padding-left: 5px;
    text-transform: uppercase;
    font-size: .8125rem;
    letter-spacing: .4px;
    white-space: nowrap;
    color: #7b7c95;
}

.menu-header-text::before, .menu-header-text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu li {
    display: block;
    width: 100%;
}

.sub-menu a:focus,
.sub-menu a[aria-expanded="true"],
.sub-menu a.active {
    background-color: var(--bs-indigo);
    color: inherit !important;
}
.main-menu a.active:not([data-bs-toggle="collapse"]) {
    background-color: var(--bs-indigo);
    color: inherit !important;
}

/* ----------------------------------------------
   CARD STYLES
---------------------------------------------- */
.card {
    margin-top: 0.75rem;
    padding: var(--card-padding-y) var(--card-padding-x);
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-cap-padding-y: var(--card-padding-y);
    --bs-card-cap-padding-x: var(--card-padding-x);
    --bs-card-border-width: 0; /* Also looks good without this */
    --bs-card-border-radius: var(--card-border-radius);
    --bs-card-box-shadow: var(--card-box-shadow);
    --bs-card-title-color: var(--primary-text-color);
    --bs-card-subtitle-color: var(--secondary-text-color);
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: var(--primary-text-color);
    --bs-card-bg: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}

.card-body {
    color: var(--primary-text-color);
}


/* General styles for .col-lg-6 inside .sessions and .ratings */
.sessions .col-lg-6,
.ratings .col-lg-6 {
    flex: 0 0 auto;
    width: 50%; /* Default behavior: Set to 50% width */
}

/* ----------------------------------------------
   GENERAL TABLE STYLES
---------------------------------------------- */
.table thead tr th {
    padding-block: 1.426rem;
    font-size: .8125rem;
    text-transform: uppercase;
    color: #d7d8ed !important;
}
.table-content td { color: #b2b3ca; padding-block: 1.426rem; }
th, td { vertical-align: middle;  padding: 0.75rem;}
.border-top {border-top: 1px solid #464963 !important; }
.table-sm>:not(caption)>*>* { padding: 1.426rem 1.25rem; }

/* ----------------------------------------------
   PROJECT TABLE STYLES
---------------------------------------------- */
.project-table { max-height: 350px; }
.project-table tr,
.project-table th,
.project-table td {
    background-color: transparent !important;
    border-bottom: 1px solid #464963;
}

/* ----------------------------------------------
   USER TABLE STYLES
---------------------------------------------- */
.user-table td {
    background-color: transparent !important;
    border-bottom: 1px solid #464963;
}
.user-table th {
    background-color: #3A3E5B;
    border-bottom: 1px solid #464963;
}
.profile-icon-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.ri-22px{font-size: 22px;}
/* ----------------------------------------------
   DESCRIPTION CELL IN TABLE STYLES
---------------------------------------------- */
.description-cell {
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
}

/* ----------------------------------------------
   MEDIA QUERIES
---------------------------------------------- */

/* Screens ≤ 1345px */
@media (max-width: 1345px) {
    .table-custom, .timeline-custom, .table-custom-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cs-5, .cs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-order {
        order: 1;
    }
}

/* Screens ≤ 1227px */
@media (max-width: 1227px) {
    .responsive-action {
        display: none !important;
    }
    #sidebar {
        width: 250px;
        background-color: var(--primary-bg-color);
    }
    .card-section {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0 !important;
        flex-direction: column !important;
    }
    .fa-bars {
        display: block !important;
        padding-right: 20px;
    }
}

/* Screens ≤ 1070px */
@media (max-width: 1070px) {
    .balance {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ratings, .sessions {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* Screens ≤ 765px */
@media (max-width: 765px) {
    .footer-links-section {
        justify-content: center !important;
    }
    .footer-link {
        display: none !important;
    }
    .dropdown-menu {
        right: auto;
        left: 0;
    }
}

/* Screens ≤ 575px */
@media (max-width: 575px) {
    .ratings, .sessions {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* ----------------------------------------------
   SCROLLBAR STYLES
---------------------------------------------- */
.overflow-auto::-webkit-scrollbar {width: 13px;}
.overflow-auto::-webkit-scrollbar-track {background: var(--primary-bg-color);}
.overflow-auto {scrollbar-gutter: stable;}
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: var(--card-border-color);
    border-radius: 10px;
    border: 3px solid var(--primary-bg-color);
    transition: 0.8s ease;
}
.overflow-auto::-webkit-scrollbar-thumb:hover {background-color: #B2B3C7;}

/* ----------------------------------------------
   HEADER COMPONENT STYLES
---------------------------------------------- */
.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.search-link:hover {cursor: pointer;}

.profile-section a {color: var(--primary-text-color);text-decoration: none;}
.profile-section a .fa-youtube:hover {color: red;}
.profile-section a .fa-github:hover {color: black;}
.profile-section .fa-arrows-rotate:hover {cursor: pointer;color: green;}
.profile-section .fa-bell:hover {cursor: pointer;color: yellow;}

.dropdown-menu {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    min-width: 200px;
    right: 0;
    left: auto;
}
.dropdown-item {color: var(--primary-text-color);padding: var(--card-padding-y) var(--card-padding-x);}
.dropdown-item:hover:not(.logout-btn),
.dropdown-item:focus:not(.logout-btn) {
    background-color: #373951;
    color: #d7d8ed;
}
.dropdown-header {padding: var(--card-padding-y) var(--card-padding-x);}
.dropdown-divider {margin: 0;border-top: 1px solid var(--card-border-color);}
.logout-btn,
.logout-btn:hover {
    background-color: var(--bs-red);
    color: #d7d8ed;
}

/* ----------------------------------------------
   MAIN COMPONENT STYLES
---------------------------------------------- */
.fa-lg {font-size: 1.5rem;}

.euro-icon {color: var(--bs-indigo);}

.small-box, .small-box-received, .small-box-third {
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}
.small-box {background-color: #393C6A;}
.small-box-received {background-color: var(--badge-danger-bg) !important;}
.balance-received-icon {color: var(--badge-danger-color) !important;}
.small-box-third {background-color: var(--badge-success-bg) !important;}
.third-icon {color: var(--badge-success-color) !important;}

.bg-label-primary {background-color: #393c6a !important;color: var(--bs-indigo) !important;}
.bg-label-success {background-color: var(--badge-success-bg) !important;color: var(--badge-success-color) !important;}
.bg-label-warning {background-color: var(--badge-warning-bg) !important;color: var(--badge-warning-color) !important;}
.bg-label-secondary {background-color: var(--badge-secondary-bg) !important;color: var(--badge-secondary-color) !important;}
.bg-label-danger {background-color: var(--badge-danger-bg) !important;color: var(--badge-danger-color) !important;}

.timeline {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow-x: hidden;
}
.timeline .timeline-item {
    position: relative;
    left: 0.7rem;
    border-left: 1px solid #464963;
}
.timeline .timeline-item .timeline-point {
    position: absolute;
    left: -0.36rem;
    top: 0.24rem;
    z-index: 2;
    display: block;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #30334e;
}
.timeline .timeline-item .timeline-point-primary {background-color: var(--bs-primary);}
.timeline .timeline-item .timeline-point-success {background-color: var(--bs-success);}
.timeline .timeline-item .timeline-point-warning {background-color: var(--bs-warning);}
.timeline .timeline-item .timeline-point-danger {background-color: var(--bs-danger);}
.timeline .timeline-item .timeline-point-info {background-color: var(--bs-info);}
.timeline .timeline-item .timeline-point-secondary {background-color: var(--bs-secondary);}
.timeline .timeline-item .timeline-point-light {background-color: var(--bs-light);}
.timeline .timeline-item .timeline-point-dark {background-color: var(--bs-dark);}

.timeline .timeline-item .timeline-event {
    position: relative;
    width: 100%;
    min-height: 4rem;
    border-radius: .375rem;
}
.timeline-event p {color: #b2b3ca;}
.timeline .timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.text-muted {--bs-text-opacity: 1;color: #7b7c95 !important;}

.blur_element:not(.ri-eye-off-line){filter: blur(5px);transition: filter 0.3s ease;}

/* ----------------------------------------------
   FOOTER COMPONENT STYLES
---------------------------------------------- */
.footer-links-section a {color: var(--bs-indigo);text-decoration: none;}

/* ----------------------------------------------
   GENERAL PURPOSE STYLES
---------------------------------------------- */
.remove-decor{text-decoration: none;}
.pointer{cursor: pointer;}
.border-bottom{border-bottom: 0.09rem solid #7B7C95 !important;}

/* ----------------------------------------------
   MANAGEMENT COMPONENTS STYLES
---------------------------------------------- */
.filters select{
    height: 48px;
    background: transparent;
    color: #D4D5EA;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0.09rem solid #464963; /* Smaller border */
}
.filters select option{background: #30334E;color: #D4D5EA;}
.select-wrapper {position: relative;}
.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
}
.select-wrapper::after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--primary-text-color);
}
.searchInput{
    width: 215px;
    height:40px;
    background: transparent;
    border: 0.09rem solid #464963; /* Smaller border */
    color: #D4D5EA; /* Ensure the text color stays #D4D5EA */
}
.searchInput::placeholder{font-size: 0.8125rem;color: #7B7C95;}
.searchInput:focus{
    color : #D4D5EA;
    background: transparent;
    outline: none;
}

.addBtn{background-color: #5C61E6;width: 150px;}
.exportBtn,
.exportBtn:hover{
    background: transparent;
    width: 150px;
    color: #6D788D
}

.cCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #B2B3CA;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    vertical-align: middle; /* Align vertically */
    margin: 0; /* Remove default margin */
}

.cCheckbox:checked {background-color: var(--bs-indigo);border-color: var(--bs-indigo);}
.cCheckbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--bs-indigo);
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.cCheckbox:hover {border-color: #5c61e6;}

/* ----------------------------------------------
   SIDE ADD FORM COMPONENTS STYLES
---------------------------------------------- */
.add-user-form {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #30334E;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1051;
}
.add-user-form.show {transform: translateX(0);}
.add-user-form .form-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.add-user-form .form-group {margin-bottom: 6px;}

.form-group label {
    position: relative;
    top: -2.2rem;
    left: 0.8rem;
    color: #73758E;
    font-size: 1rem;
    font-weight: 500;
    background: #30334E;
    transition: all 0.2s ease-in-out;
    pointer-events: none; /* Prevents label from being selectable */
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group select:focus + label{
    padding: 0 0.5rem;
    font-size: 0.8rem;
    color: var(--bs-indigo);
    top: -3.6rem;
    left: 0.5rem;
}
.form-group input:not(:focus):not(:placeholder-shown) + label {color: #73758E;}
.errorDiv{
    position: relative;
    font-size: 0.8rem;
    top: -1.0rem;
    color: var(--bs-danger);
}
.sInput{
    background-color: transparent;
    height: 48px;
    color: #D4D5EA;
    border: 1px solid #595b75;
}
.sInput:focus,
select:focus {
    border: 2px solid var(--bs-indigo) !important;
    background-color: transparent;
    color: #D4D5EA;
    box-shadow: none !important;
}
.sInput:hover{border-color: #9FA1B8;}
.sInput::placeholder{color: transparent;}
.sInput:focus::placeholder {color: #73758E;}
.sInput.errorBorderColor + label {color: var(--bs-danger) !important;}
.sInput.errorBorderColor,.sInput.errorBorderColor:hover {border: 2px solid var(--bs-danger) !important;}
.sInput.successBorderColor {border: 2px solid var(--tagColor-green-text) !important;}
.sInput.successBorderColor + label {color: var(--tagColor-green-text) !important;}

.form-group select {
    background-color: transparent;
    height: 48px;
    color: #73758E;
    border: 1px solid #595b75;
}
.form-group select + label {
    padding: 0 0.5rem;
    font-size: 0.8rem;
    color: #ADAEC6;
    top: -3.6rem;
    left: 0.5rem;
}
.form-group select option{background: #30334E;color: #D4D5EA;}
.form-group select option[value=""]{color: #73758E !important;}
.form-group select:focus {color: white;}
.form-group select:not(:focus) {color: white;}
.form-group select:invalid {color: #73758E;}  /* in case option is default = stays grey */ 
.form-group select.successBorderColor {border: 2px solid var(--tagColor-green-text) !important;}
.form-group select.successBorderColor + label {color: var(--tagColor-green-text) !important;}


.addItem{background-color: var(--bs-indigo);}
.addItem:hover{background-color: #4f53d2;}
.addItem,.addItem:hover{
    width: 100px;
    color: #fff;
    border-color: var(--bs-indigo);
}
.cancelItem{background: transparent;}
.cancelItem:hover{background: #353953;}
.cancelItem,.cancelItem:hover{
    width: 100px;
    color: #6d788d;
    border-color: #6d788d;
}
.ri-close-line{font-size: 25px;cursor: pointer;}
.ri-refresh-line{font-size: 18px;cursor: pointer;}


/* ----------------------------------------------
   MANAGEMENT TIMELINE COMPONENTS STYLES
---------------------------------------------- */
.projectTimeline{height: 400px; background-color: #3A3F5C;}

.manage-timeline {
    position: relative;
    padding-left: 3rem;
    margin: 0 0 0 30px;
    color: white;
}
.manage-timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 35px;
    width: 4px;
    height: 96%;
    background: var(--card-bg-color);
}
.manage-timeline .manage-timeline-container {position: relative;margin-bottom: 2.5rem;}
.manage-timeline .manage-timeline-icon {
    position: absolute;
    left: -64px;
    top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background: var(--bs-secondary);
}
.manage-timeline .manage-timeline-body {
    background: var(--card-bg-color);
    border-radius: 0.375rem;
    padding: 20px 20px 15px;
    box-shadow: var(--card-box-shadow);
}
.manage-timeline .manage-timeline-body::before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
.manage-timeline .manage-timeline-title .badge {
    background: var(--bs-secondary);
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}
.manage-timeline .manage-timeline-subtitle {
    font-weight: 300;
    font-style: italic;
    opacity: .4;
    margin-top: 16px;  
    font-size: 11px;
}

/* ----------------------------------------------
   MODAL STYLES
---------------------------------------------- */
.modalTitle{
    font-size: 20px;
    font-weight: 600;
}
.modalTitle.modalgreen{color: #39B54A;}
.modalTitle.modalred{color: #ff4d49;}
.modalMessage{
    font-size: 0.875rem;
    color: #6B7280;
    line-height: 1.625;
}
.modalClose {
    transition: background-color 0.2s, color 0.2s; 
    border-radius: 0;
    height: 60px;
}
.modalClose.modalWin {background-color: #39B54A;}
.modalClose.modalWin:hover{background-color: #2b8c38;}
.modalClose.modalLose {background-color: #ff4d49;}
.modalClose.modalLose:hover{background-color: #dd413e;}
.modalClose, 
.modalClose:hover {color: white;width: 100%;}
.modalImage{
    margin-bottom: 1rem;
    width: 80px;
    height: 80px;
}
.modalClose.confCancel{background-color: #C1C1C1;color: white;}
.modalClose.confCancel:hover{background-color: #a8a8a8;}
.confSucess{background-color: #dd413e;color: white;}
.confSucess:hover{background-color: #c23a36;}

/* ----------------------------------------------
   PAGINATION STYLES
---------------------------------------------- */
.page-link,
.page-item.arrow .page-link{
    font-size: 14px;
    border: none;
    display: flex;
    width: 38px;
    height: 38px;
    color: #D4D5EA;
    background-color: #3f425c;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.page-link:hover,.page-item.arrow .page-link:hover{background-color: #393C6A;}
.page-item.arrow .page-link:hover i{color: #2B4ECA;}
.active>.page-link, .page-link.active{background-color: var(--bs-indigo) !important}
.page-item.arrow .page-link{
    width: 38px;
    height: 38px;
    border-radius: 30%;
}
