/* ---------------------------------------------- ROOT VARIABLES ----------------------------------- */
:root {
    --primary-bg-color: #282A42;
    --primary-text-color: #d7d8ed;
    --secondary-text-color: #9698af;
    --card-bg-color: #30334e;
    --card-border-color: #464963;
    --card-box-shadow: 0 0.25rem 0.875rem 0 rgba(16, 17, 33, 0.26);
    --card-border-radius: 0.625rem;
    --card-padding-y: 0.65rem;
    --card-padding-x: 0.65rem;
    --bs-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --bs-body-font-size: 0.9375rem;
    --badge-success-bg: #3b4f48;
    --badge-success-color: #72e128;
    --badge-warning-bg: #514848;
    --badge-warning-color: #fdb528;
    --badge-secondary-bg: #3a3e58;
    --badge-secondary-color: #6d788d;
    --badge-danger-bg: #51374d;
    --badge-danger-color: #ff4d49;
    --bs-blue: #26c6f9;
    --bs-indigo: #666cff;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #ff4d49;
    --bs-orange: #fdb528;
    --bs-yellow: #ffd950;
    --bs-green: #72e128;
    --bs-teal: #20c997;
    --bs-cyan: #28c3d7;
    --bs-black: #30334e;
    --bs-white: #fff;
    --bs-gray: rgba(234, 234, 255, 0.599);
    --bs-gray-dark: rgba(234, 234, 255, 0.8);
    --bs-gray-25: rgba(234, 234, 255, 0.015);
    --bs-gray-50: rgba(234, 234, 255, 0.03);
    --bs-primary: #666cff;
    --bs-secondary: #6d788d;
    --bs-success: #72e128;
    --bs-info: #26c6f9;
    --bs-warning: #fdb528;
    --bs-danger: #ff4d49;
    --bs-light: #46445b;
    --bs-dark: #d7d5ec;
    --bs-gray: rgba(234, 234, 255, 0.06);
}

/* ---------------------------------------------- BODY STYLES ----------------------------------- */
html {
    color-scheme: dark;
}

body {
    background-color: var(--primary-bg-color) !important;
    color: var(--primary-text-color) !important;
    font-family: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
}
.row>* {
    margin-top: 0.5rem;
}

/* ---------------------------------------------- SIDEBAR STYLES ----------------------------------- */
.main-menu a {
    color: var(--primary-text-color);
    position: relative;
    padding-left: 30px;
    width: 99%;
}
.menu-item a.dashboards::before,
.menu-item a.projects::before,
.menu-item a.learning::before,
a.email::before,
a.chat::before,
a.calendar::before,
.menu-item a.music::before,
.menu-item a.useful-websites::before,
a.users::before,
a.posts::before,
a.dashboard::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-item a.dashboards::before { content: "\f201"; }
.menu-item a.projects::before { content: "\f15b"; }
.menu-item a.learning::before { content: "\f518"; }
a.email::before { content: "\f0e0"; }
a.chat::before { content: "\f086"; }
a.calendar::before { content: "\f073"; }
.menu-item a.music::before { content: "\f001"; }
.menu-item a.useful-websites::before { content: "\f0ac"; }
a.users::before { content: "\f0c0"; }
a.posts::before { content: "\f044"; }
a.dashboard::before { content: "\f0e4"; }

.menu-item > a::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu a::before {
    content: "\2022";
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
}

.nav-link:hover,
.nav-link:focus,
.nav-link[aria-expanded="true"] {
    background-color: #373951;
    color: inherit !important;
    margin-bottom: 1px;
}

.nav-link {
    border-radius: 13px;
}

.menu-header .menu-header-text {
    padding-left: 5px;
    text-transform: uppercase;
    font-size: .8125rem;
    letter-spacing: .4px;
    white-space: nowrap;
    color: #7b7c95;
}

.menu-header-text::before, .menu-header-text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sub-menu li {
    display: block;
    width: 100%;
}

.sub-menu a:focus,
.sub-menu a[aria-expanded="true"],
.sub-menu a.active {
    background-color: #666CFF;
    color: inherit !important;
}
.main-menu a.active:not([data-bs-toggle="collapse"]) {
    background-color: #666CFF;
    color: inherit !important;
}

/* ---------------------------------------------- CARD STYLES ----------------------------------- */
.card {
    margin-top: 0.75rem;
    padding: var(--card-padding-y) var(--card-padding-x);
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-cap-padding-y: var(--card-padding-y);
    --bs-card-cap-padding-x: var(--card-padding-x);
    --bs-card-inner-border-radius: var(--card-border-radius);
    --bs-card-border-width: 0;
    --bs-card-border-color: var(--card-border-color);
    --bs-card-border-radius: var(--card-border-radius);
    --bs-card-box-shadow: var(--card-box-shadow);
    --bs-card-title-color: var(--primary-text-color);
    --bs-card-subtitle-color: var(--secondary-text-color);
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: var(--primary-text-color);
    --bs-card-bg: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
}

.card-body {
    color: var(--primary-text-color);
}

/* General styles for .col-lg-6 inside .sessions and .ratings */
.sessions .col-lg-6,
.ratings .col-lg-6 {
    flex: 0 0 auto;
    width: 50%; /* Default behavior: Set to 50% width */
}

/* ---------------------------------------------- TABLE STYLES ----------------------------------- */
.table thead tr th {
    padding-block: 1.426rem;
    font-size: .8125rem;
    letter-spacing: .2px;
    text-transform: uppercase;
    color: #d7d8ed !important;
}
.border-top {
    border-top: 1px solid #464963 !important;
}
.table-content td{
    color: #b2b3ca;
    padding-block: 1.426rem;
}

/* CHANGES FOR DIFFERENT TABLES */
/* PROJECT TABLE STYLES */
.project-table tr,
.project-table th,
.project-table td {
    background-color: transparent !important;
    border-bottom: 1px solid #464963;
}

/* PROJECT TABLE STYLES */
.project-table {
    max-height: 350px; /* Set the maximum height */
}
/* USER TABLE STYLES */ 
.user-table td {
    background-color: transparent !important;
    border-bottom: 1px solid #464963;
}
.user-table th {
    background-color: #3A3E5B;
    border-bottom: 1px solid #464963;
}
.table-sm>:not(caption)>*>* {
    padding: 1.426rem 1.25rem;
}
tbody tr:last-child td {
    border-bottom: none;
}
/* ---------------------------------------------- MEDIA QUERIES ----------------------------------- */
@media (max-width: 1345px) {
    .table-custom, .timeline-custom, .table-custom-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cs-5, .cs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-order {
        order: 1;
    }
}

@media (max-width: 1227px) {
    .responsive-action {
        display: none !important;
    }
    #sidebar {
        width: 250px;
        background-color: var(--primary-bg-color);
    }
    .card-section {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0 !important;
        flex-direction: column !important;
    }
    .fa-bars {
        display: block !important;
        padding-right: 20px;
    }
}

@media (max-width: 1070px) {
    .balance {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ratings, .sessions {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 765px){
    .footer-links-section{
        justify-content: center !important;
    }
    .footer-link {
        display: none !important;
    }
    
}

@media (max-width: 575px){
    .ratings, .sessions {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* ---------------------------------------------- SCROLLBAR STYLES ----------------------------------- */
.overflow-auto::-webkit-scrollbar {
    width: 13px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: var(--card-border-color);
    border-radius: 10px;
    border: 3px solid var(--primary-bg-color);
    transition: 0.8s ease;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: #B2B3C7;
}

/* ---------------------------------------------- PROFILE ICON ----------------------------------- */
.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-icon-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* ---------------------------------------------- ICON SIZES ----------------------------------- */
.fa-lg {
    font-size: 1.5rem;
}

/* ---------------------------------------------- SEARCH LINK ----------------------------------- */
.search-link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.search-link:hover {
    cursor: pointer;
}

/* ---------------------------------------------- SMALL BOXES ----------------------------------- */
.euro-icon {
    color: #666CFF;
}
.small-box {
    background-color: #393C6A;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}
.balance-received-icon {
    color: var(--badge-danger-color) !important;
}

.small-box-received {
    background-color: var(--badge-danger-bg) !important;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}

.third-icon {
    color: var(--badge-success-color) !important;
}

.small-box-third {
    background-color: var(--badge-success-bg) !important;
    padding: 0.7rem;
    border-radius: 0.4rem;
    width: 40px;
    height: 40px;
}

/* ---------------------------------------------- BADGES ----------------------------------- */
.bg-label-primary {
    background-color: #393c6a !important;
    color: #666cff !important;
}

.bg-label-success {
    background-color: var(--badge-success-bg) !important;
    color: var(--badge-success-color) !important;
}

.bg-label-warning {
    background-color: var(--badge-warning-bg) !important;
    color: var(--badge-warning-color) !important;
}

.bg-label-secondary {
    background-color: var(--badge-secondary-bg) !important;
    color: var(--badge-secondary-color) !important;
}

.bg-label-danger {
    background-color: var(--badge-danger-bg) !important;
    color: var(--badge-danger-color) !important;
}

/* ---------------------------------------------- TIMELINE STYLES ----------------------------------- */
.timeline {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow-x: hidden;
}
.timeline .timeline-item {
    position: relative;
    left: 0.7rem;
    border-left: 1px solid #464963;
}
.timeline .timeline-item .timeline-point {
    position: absolute;
    left: -0.36rem;
    top: 0.24rem;
    z-index: 2;
    display: block;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #30334e;
}
.timeline .timeline-item .timeline-point-primary {
    background-color: var(--bs-primary);
}
.timeline .timeline-item .timeline-point-success {
    background-color: var(--bs-success);
}
.timeline .timeline-item .timeline-point-warning {
    background-color: var(--bs-warning);
}
.timeline .timeline-item .timeline-point-danger {
    background-color: var(--bs-danger);
}
.timeline .timeline-item .timeline-point-info {
    background-color: var(--bs-info);
}
.timeline .timeline-item .timeline-point-secondary {
    background-color: var(--bs-secondary);
}
.timeline .timeline-item .timeline-point-light {
    background-color: var(--bs-light);
}
.timeline .timeline-item .timeline-point-dark {
    background-color: var(--bs-dark);
}
.timeline .timeline-item .timeline-event {
    position: relative;
    width: 100%;
    min-height: 4rem;
    border-radius: .375rem;
}
.timeline-event p {
    color: #b2b3ca;
}
.timeline .timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #7b7c95 !important;
}

/* ---------------------------------------------- FOOTER STYLES ----------------------------------- */
.footer-links-section a {
    color: #666cff;
    text-decoration: none;
}

/* ---------------------------------------------- ROLE ICON STYLES ----------------------------------- */
.ri-22px{
    font-size: 22px;
}
/* ---------------------------------------------- PROFILE SECTION STYLES ----------------------------------- */
.profile-section a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.profile-section a .fa-youtube:hover {
    color: red;
}
.profile-section a .fa-github:hover {
    color: black;
}
.profile-section .fa-arrows-rotate:hover {
    cursor: pointer;
    color: green;
}
.profile-section .fa-bell:hover {
    cursor: pointer;
    color: yellow;
}

/* ---------------------------------------------- FORM PAGE ----------------------------------- */
.form-n1{
    width: 230px;
    height: 40px;
}
.form-n2{
    width: 92%;
    height: 40px;
}

.insert-menu{
    box-shadow: 0 .125rem .375rem 0 rgba(16, 17, 33, .2);
    background-color: #666cff !important; 
    border-radius: 0.5rem !important;
    width: 180px !important;
    height: 40px;
}

/* ---------------------------------------------- GENERAL ----------------------------------- */
.remove-decor{
    text-decoration: none;
}
.tag-div{
    width: 97%;
}
.tag-selection{
    cursor: pointer;
}
.selected{
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: all 0.1s ease;
}
.pointer{
    cursor: pointer;
}


/* BLUR CARDS */
.blur_element:not(.ri-eye-off-line){
    filter: blur(5px); /* Apply a blur effect */
    transition: filter 0.3s ease; /* Optional: add a smooth transition */
}

/* ---------------------------------------------- DROPDOWN MENU PROFILE ----------------------------------- */
.dropdown-menu {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    min-width: 200px;
    right: 0;
    left: auto;
}

.dropdown-item {
    color: var(--primary-text-color);
    padding: var(--card-padding-y) var(--card-padding-x);
}

.dropdown-item:hover:not(.logout-btn),
.dropdown-item:focus:not(.logout-btn) {
    background-color: #373951;
    color: #d7d8ed;
}

.dropdown-header {
    padding: var(--card-padding-y) var(--card-padding-x);
}

.dropdown-divider {
    margin: 0;
    border-top: 1px solid var(--card-border-color);
}

.logout-btn,
.logout-btn:hover {
    background-color: var(--bs-red);
    color: #d7d8ed;
}

@media (max-width: 768px) {
    .dropdown-menu {
        right: auto;
        left: 0;
    }
}